.imagem {
    height: 80px;
}

.titulo {
    font-size: 14px;
}

.home-background {
    background: url('/assets/imagens/plano-fundo-01.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

// .home-background {
//         background: url(/assets/imagens/escovacao-crianca.png) no-repeat center center fixed;
//         background-size: cover;
//     }


// background: url('assets/imgs/carp.jpg') no-repeat 100% 100%;