<ion-content class="home-background">
    <div class="home-background">
    <ion-grid>

        <ion-row>
            <ion-col size="6">
                <ion-card [routerLink]="'higienizacao-bebes'">
                    <ion-img class="imagem" src="/assets/imagens/pagina-inicial/higienizacao-bebes.png">
                    </ion-img>
                    <ion-card-header>
                        <ion-card-title class="titulo">Higienização dos bebês</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card [routerLink]="'escovacao-crianca-escola'">
                    <ion-img class="imagem" src="/assets/imagens/pagina-inicial/crianca-na-escola.png">
                    </ion-img>
                    <ion-card-header>
                        <ion-card-title class="titulo">Escovação da criança na escola</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6">
                <ion-card [routerLink]="'escovacao-crianca'">
                    <ion-img class="imagem" src="/assets/imagens/pagina-inicial/escovacao-da-crianca-em-casa.png">
                    </ion-img>
                    <ion-card-header>
                        <ion-card-title class="titulo">Escovação da Criança em casa</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card [routerLink]="'posicoes-tecnicas-indicadas'">
                    <ion-img class="imagem" src="/assets/imagens/pagina-inicial/posicoes-tecnicas-indicadas.png">
                    </ion-img>
                    <ion-card-header>
                        <ion-card-title class="titulo">Posições e técnicas</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6">
                <ion-card [routerLink]="'escovacao-adolescente'">
                    <ion-img class="imagem" src="/assets/imagens/pagina-inicial/escovacao-de-adolescente.png"></ion-img>
                    <ion-card-header>
                        <ion-card-title class="titulo">Escovação em adolescentes</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card [routerLink]="'escovacao-ludica'">
                    <ion-img class="imagem" src="/assets/imagens/pagina-inicial/escovacao-ludica.png"></ion-img>
                    <ion-card-header>
                        <ion-card-title class="titulo">Escovação Ludica</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>


    <!-- <ion-list lines="none">
        <ion-list-header>
            <ion-label>Resources</ion-label>
        </ion-list-header>
        <ion-item [routerLink]="'higienizacao-bebes'">
            <ion-icon slot="start" color="medium" name="build"></ion-icon>
            <ion-label>Higienização dos Bebês</ion-label>
        </ion-item>
        <ion-item [routerLink]="'escovacao-crianca-escola'">
            <ion-icon slot="start" color="medium" name="build"></ion-icon>
            <ion-label>Escovação da Criança na escola</ion-label>
        </ion-item>
        <ion-item [routerLink]="'escovacao-crianca'">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>Escovação da Criança em casa</ion-label>
        </ion-item>
        <ion-item [routerLink]="'posicoes-tecnicas-indicadas'">
            <ion-icon slot="start" color="medium" name="grid"></ion-icon>
            <ion-label>Posições e técnicas mais indicadas</ion-label>
        </ion-item>
        <ion-item [routerLink]="'escovacao-adolescente'">
            <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
            <ion-label>Escovação em adolescentes</ion-label>
        </ion-item>
        <ion-item [routerLink]="'escovacao-ludica'">
            <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
            <ion-label>Escovação Lúdica</ion-label>
        </ion-item>
    </ion-list> -->
    </div>
</ion-content>
